<div class="well well-sm extra-padding-bottom mt-4">
  <h3>
    {{@sectionTitle}}
  </h3>
  <div class="form-inline">
    <div
      class="form-group has-feedback pr-1
        {{unless this.isCounterValid "has-error"}}"
    >
      <label class="control-label pr-1">
        Number of new records:
      </label>
      {{input value=counter class="form-control mb-1" placeholder=placeholder}}
    </div>
    <div class="form-group has-feedback pr-1">
      <button
        class="btn btn-primary mb-1"
        disabled={{this.generateIsDisabled}}
        {{action "generateAction"}}
      >
        {{#if @generateInProgress}}
          <span class="glyphicon glyphicon-refresh spinning"></span>
          Generating...
        {{else}}
          Generate{{@sectionTitle}}
        {{/if}}
      </button>
      {{#fader-label isShowing=generateReady}}
        Created!
      {{/fader-label}}
      <button
        class="btn btn-danger mb-1"
        disabled={{this.deleteIsDisabled}}
        {{action "deleteAction"}}
      >
        {{#if @deleteInProgress}}
          <span class="glyphicon glyphicon-refresh spinning"></span>Deleting...
        {{else}}
          Delete All{{@sectionTitle}}
        {{/if}}
      </button>
      {{#fader-label isShowing=deleteReady}}
        Deleted!
      {{/fader-label}}
    </div>
  </div>
</div>