<div class="jumbotron text-center">
  <h1>
    {{this.headerMessage}}
  </h1>
  <br />
  <br />
  <p>
    Don't miss our launch date, request an invitation now.
  </p>
  <div class="form-row justify-content-center">
    <div class="col-md-6">
      <Input
        @type="email"
        @value={{this.emailAddress}}
        class="form-control"
        placeholder="Please type a fake e-mail address."
        @autofocus="autofocus"
      />
    </div>
    <div class="col-md-2">
      <button
        type="button"
        class="btn btn-primary btn"
        disabled={{this.isDisabled}}
        {{action "saveInvitation"}}
      >
        Request invitation
      </button>
    </div>
  </div>
  {{#if this.responseMessage}}
    <div class="alert alert-success mt-3">
      {{this.responseMessage}}
    </div>
  {{/if}}
  <br />
  <br />
</div>